.containerCounter {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #3498DB;
}

.itemCounter {
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: #BFC9CA;
    border: 1px solid #000;
    border-radius: 20px;
}

.title {
    display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}



.itemBotom {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    gap: 1rem;
}