/* Estilos para el encabezado */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff; /* Azul brillante */
  padding: 10px 20px;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.icon-bar {
  width: 30px;
  height: 3px;
  background-color: #fff; /* Blanco */
  margin: 2px auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

/* Estilo para la pestaña activa */
.navbar-links li a.active {
  background-color: #0056b3; /* Azul más oscuro */
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}

a {
  color: #5D6D7E !important;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #007bff; /* Azul brillante */
    width: 100%;
    text-align: right;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  /* Estilo para la pestaña activa en el menú hamburguesa */
  .navbar-links li a.active {
    background-color: #0056b3; /* Azul más oscuro */
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
  }
}
