.containerList {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; /* Cambio de space-evenly a space-between */
    background-color: #1B4F72;
}

.itemList {
    width: calc(33.33% - 6px); /* Calcula el ancho para 3 elementos por fila con margen */
    margin: 2px;
    background-color: aquamarine;
    width: 200px;
    box-sizing: border-box; 
}